@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, div, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: 'Caprasimo', cursive;
}

:root {
    --header-background-color : #cdb4db;
    --main-background-color: #ffc8dd;
    --font-color: #fefae0;
    --box-color: #ffafcc;
    --box-hover-color: #ffdbe8;
}

h1 {
    text-align: center;
    height: 10vh;
    letter-spacing: 4px;

}

.msg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 5rem;
    padding-top: 10px;
    font-weight: 100;
    color: var(--font-color);
    background-color: var(--header-background-color);

}

.main h1 {
    font-size: 2.5rem;
    padding-top: 50px;
}

.main {
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: var(--main-background-color);
}

.board {
    margin: 0 auto;
    display: grid;
    height: 456px;
    width: 456px;
    grid-template-columns: repeat(3, 1fr);
}
.board .box {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-color: var(--box-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    height: 5vh;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box:hover {
    background-color: var(--box-hover-color);
    cursor: pointer;
}

.restart-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart {
    height: 75px;
    width: 400px;
    font-size: 2.5rem;
    letter-spacing: 4px;
    background-color: var(--header-background-color);
    border-style: none;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}

#restart:hover {
    cursor: pointer;
    transform: translateY(-7px); 
}

img {
    width: 1.3rem;
}

@media (max-width: 900px) {
    * {
        padding-left:0;
    }
    body {
        display: flex;
        flex-direction: column;
        align-content:center;
        justify-content:center;
    }
    .main h1 {
        font-size: 2rem;
    }
    .header h1 {
        font-size: 3rem;
        width: 100vw;
        padding-bottom: 3rem;
    }
    .header {
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    .board .box {
        height: 75px;
        width: 75px;
        font-size: 4rem;
    }
    .board {
        height: 231px;
        width: 231px;
    }
    #restart {
        margin-top: 75px;
        height: 75px;
        width: 250px;
        font-size: 2.5rem;
    }
}
